*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(214, 214, 214);
}
.container{
    margin: 200px;
    height: 400px;
    width: 220px;
    position: relative;
    perspective: 1000px;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.container:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
    
}
.container:hover .back{
    transform: rotateY(0deg);
}